html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

input {
	margin-left: 20px;
}

h1 {
	text-align: left;
}

/*p {
	text-align: center;
}*/

div {
	text-align:center;
	margin: 20px;
}